@charset "UTF-8";
/* =========================================================================================================
	setting
========================================================================================================= */
/* =========================================================================================================
	共通定義する値
========================================================================================================= */
/* コンテンツ幅
_______________________________________________________________________________________________________*/
/* 使用色
_______________________________________________________________________________________________________*/
/*--------------------------------------------------------------
* フォントの読み込み
----------------------------------------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200;300;400;500;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");
/*--------------------------------------------------------------
* 使用font の変数
----------------------------------------------------------------*/
/*--------------------------------------------------------------
* フォントサイズ の変数
----------------------------------------------------------------*/
/* pc
_______________________________________________________________________________________________________*/
/* sp
_______________________________________________________________________________________________________*/
/* =========================================================================================================
	mixin
========================================================================================================= */
/* ブレークポイント
_______________________________________________________________________________________________________*/
/* =========================================================================================================
	Foundation
========================================================================================================= */
*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  color: #dddddd;
  background-color: #000000;
  position: relative;
  font-weight: 400;
  font-size: 22.4px;
  font-size: 1.4rem;
  letter-spacing: 0;
  line-height: 2.0;
  font-display: swap;
  margin: 0 auto;
  padding: 0;
}

#wrapper {
  position: relative;
  overflow: hidden;
}

.container {
  max-width: 1160px;
  padding: 0 15px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}

a {
  color: inherit;
  display: inline-block;
}

a:link, a:visited, a:hover, a:active {
  color: inherit;
  text-decoration: none;
  -webkit-transition: all .3s;
  transition: all .3s;
}

a:hover {
  opacity: 0.7;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

img {
  vertical-align: middle;
  max-width: 100%;
}

/* ====================================================================================
		tablet
==================================================================================== */

/* ====================================================================================
		PC
==================================================================================== */
/* =========================================================================================================
	lauout
========================================================================================================= */
.l-header {
  position: fixed;
  width: 100%;
  height: 100px;
  z-index: 20;
  font-family: "Noto Sans JP";
  background-color: #000000;
}

.l-header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 30px;
  height: 100%;
}

.l-header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.l-header__head {
  display: none;
}

.l-header__tel {
  margin-right: 28px;
  margin-bottom: 16px;
}

.l-header__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.l-header__button--mr {
  margin-right: 12px;
}

.l-header__foot {
  display: none;
}

.l-header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.l-header__menu-item {
  margin-right: 4vw;
}

.l-header__menu-item--last {
  margin-right: 0;
}

.l-header__hamburger {
  margin-left: 32px;
}

.l-footer {
  width: 100%;
  padding-top: 88px;
}

.l-footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 80px;
  padding-left: 30px;
  padding-right: 30px;
  -webkit-transform: translate(0, 40px);
          transform: translate(0, 40px);
  opacity: 0;
  -webkit-transition: .4s;
  transition: .4s;
  -webkit-transition-delay: .4s;
          transition-delay: .4s;
}

.l-footer__container.is-active {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

.l-footer__copy {
  border-top: 1px solid #666666;
  text-align: center;
  line-height: 1;
  padding: 32px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transform: translate(0, 40px);
          transform: translate(0, 40px);
  opacity: 0;
  -webkit-transition: .4s;
  transition: .4s;
  -webkit-transition-delay: .8s;
          transition-delay: .8s;
}

.l-footer__copy.is-active {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

.l-main {
  margin-top: 100px;
}

.l-main-visual {
  position: relative;
  width: 100%;
  background: url("../images/common/bg-shape01.svg") no-repeat right bottom 10%;
  background-size: 80%;
}

.l-main-visual__heading {
  padding: 16px 30px;
}

.l-information {
  padding: 0 30px;
}

.l-information__block {
  margin-top: 0px;
  -webkit-transform: translate(0, 40px);
          transform: translate(0, 40px);
  opacity: 0;
  -webkit-transition: .4s;
  transition: .4s;
}

.l-information__block.is-active {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

.l-about {
  position: relative;
  padding-top: 100px;
}

.l-about__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.l-about__heading {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: translate(0, 40px);
          transform: translate(0, 40px);
  opacity: 0;
  -webkit-transition: .4s;
  transition: .4s;
  -webkit-transition-delay: .4s;
          transition-delay: .4s;
}

.l-about__heading.is-active {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

.l-voice {
  background: -webkit-gradient(linear, left top, right top, from(#293033), color-stop(50%, #293033), color-stop(50%, #000000), to(#000000));
  background: linear-gradient(to right, #293033 0%, #293033 50%, #000000 50%, #000000 100%);
  padding-top: 100px;
  padding-bottom: 80px;
  position: relative;
}

.l-voice__heading {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: translate(0, 40px);
          transform: translate(0, 40px);
  opacity: 0;
  -webkit-transition: .4s;
  transition: .4s;
}

.l-voice__heading.is-active {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

.l-voice__contents {
  padding-top: 50px;
}

.l-voice__more-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translate(0, 40px);
          transform: translate(0, 40px);
  opacity: 0;
  -webkit-transition: .4s;
  transition: .4s;
}

.l-voice__more-button.is-active {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

.l-collection {
  padding-top: 100px;
  padding-bottom: 80px;
}

.l-collection__move {
  -webkit-transform: translate(0, 40px);
          transform: translate(0, 40px);
  opacity: 0;
  -webkit-transition: .4s;
  transition: .4s;
  -webkit-transition-delay: .4s;
          transition-delay: .4s;
}

.l-collection__move.is-active {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

.l-collection__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.l-collection__bg {
  background: url("../images/common/bg-shape03.svg") no-repeat right 15% bottom 15%;
  background-size: 50%;
  padding-top: 55px;
  padding-bottom: 80px;
}

.l-collection__slider {
  width: 100%;
  margin: 0 auto;
  position: relative;
  -webkit-transform: translate(0, 40px);
          transform: translate(0, 40px);
  opacity: 0;
  -webkit-transition: .4s;
  transition: .4s;
  -webkit-transition-delay: .8s;
          transition-delay: .8s;
}

.l-collection__slider.is-active {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

.l-collection__more-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translate(0, 40px);
          transform: translate(0, 40px);
  opacity: 0;
  -webkit-transition: .4s;
  transition: .4s;
  -webkit-transition-delay: 1.2s;
          transition-delay: 1.2s;
}

.l-collection__more-button.is-active {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

.l-service {
  padding-top: 100px;
  padding-bottom: 120px;
  background: #293033;
}

.l-service__heading {
  margin-bottom: 75px;
  -webkit-transform: translate(0, 40px);
          transform: translate(0, 40px);
  opacity: 0;
  -webkit-transition: .4s;
  transition: .4s;
  -webkit-transition-delay: .4s;
          transition-delay: .4s;
}

.l-service__heading.is-active {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

.l-service__menus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 30px;
}

.l-contact {
  background: url("../images/common/contact-1.jpg") no-repeat center;
  background-size: cover;
  padding: 95px 30px 105px;
}

.l-contact__menus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.l-global-nav {
  position: fixed;
  top: 100px;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  background: rgba(221, 221, 221, .95);
  padding: 24px 30px;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateX(40px);
          transform: translateX(40px);
  -webkit-transition: all .3s;
  transition: all .3s;
  z-index: 30;
}

.l-global-nav.is-active {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}

.l-global-nav__menus {
  margin-bottom: 32px;
  height: 70%;
  overflow-y: scroll;
}

.l-global-nav__item {
  font-size: 32px;
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  padding: 10px 0;
  color: #555555;
  border-bottom: solid 1px #555555;
}

.l-global-nav__item:last-of-type {
  border-bottom: none;
}

.l-global-nav__foot {
  position: absolute;
  bottom: 0;
  color: #555555;
}

.l-global-nav__tel {
  margin: 24px auto;
}

.l-global-nav__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.l-global-nav__mr {
  margin-right: 12px;
}

/* =========================================================================================================
	object
========================================================================================================= */
/* project
_________________________________________________________________________________________________*/
.p-main-slider-items {
  width: 100%;
}

.p-container {
  max-width: 1160px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}

.p-about-content {
  padding: 40px 30px;
  -webkit-transform: translate(0, 40px);
          transform: translate(0, 40px);
  opacity: 0;
  -webkit-transition: .4s;
  transition: .4s;
  -webkit-transition-delay: .8s;
          transition-delay: .8s;
}

.p-about-content.is-active {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

.p-about-content__lead {
  font-size: 30.4px;
  font-size: 1.9rem;
  letter-spacing: .05em;
  line-height: 1.5;
  margin-bottom: 24px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.p-about-content__text {
  letter-spacing: .1em;
  margin-bottom: 40px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.p-about-content__img {
  width: 100%;
  padding: 15px 30px;
  -webkit-transform: translate(0, 40px);
          transform: translate(0, 40px);
  opacity: 0;
  -webkit-transition: .4s;
  transition: .4s;
  -webkit-transition-delay: .4s;
          transition-delay: .4s;
}

.p-about-content__img.is-active {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

.p-about-content__img img {
  width: 100%;
}

.p-about-img__left {
  width: 100%;
  padding: 15px 30px;
  -webkit-transform: translate(0, 40px);
          transform: translate(0, 40px);
  opacity: 0;
  -webkit-transition: .4s;
  transition: .4s;
  -webkit-transition-delay: .4s;
          transition-delay: .4s;
}

.p-about-img__left.is-active {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

.p-about-img__left img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  font-family: 'object-fit: cover;';
}

.p-about-img__right {
  width: 100%;
  padding: 15px 30px;
  -webkit-transform: translate(0, 40px);
          transform: translate(0, 40px);
  opacity: 0;
  -webkit-transition: .4s;
  transition: .4s;
  -webkit-transition-delay: .4s;
          transition-delay: .4s;
}

.p-about-img__right.is-active {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

.p-about-img__right img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  font-family: 'object-fit: cover;';
}

.p-voice-contents__bg {
  position: relative;
  margin-bottom: 30px;
}

.p-voice-contents__first {
  -webkit-transform: translate(0, 40px);
          transform: translate(0, 40px);
  opacity: 0;
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-transition-delay: .3s;
          transition-delay: .3s;
}

.p-voice-contents__first.is-active {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

.p-voice-contents__second {
  -webkit-transform: translate(0, 40px);
          transform: translate(0, 40px);
  opacity: 0;
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-transition-delay: .6s;
          transition-delay: .6s;
}

.p-voice-contents__second.is-active {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

.p-voice-contents__left {
  padding-top: 60%;
  background: url("../images/common/voice-1.jpg") no-repeat left;
  background-size: cover;
}

.p-voice-contents__right {
  padding-top: 60%;
  background: url("../images/common/voice-2.jpg") no-repeat right;
  background-size: cover;
}

.p-collection-slider-items {
  width: 100%;
  margin: 0 auto;
}

.p-service-heading {
  text-align: center;
}

.p-service-heading__main {
  font-family: "Noto Serif JP";
  font-size: 38.4px;
  font-size: 2.4rem;
  font-weight: 300;
  letter-spacing: .1em;
  line-height: 1;
  margin-bottom: 45px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.p-service-heading__sub {
  letter-spacing: .05em;
  padding: 0 30px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-align: justify;
}

.p-contact-item {
  width: 100%;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 15px;
  border-bottom: 1px solid #dddddd;
  -webkit-transform: translate(0, 40px);
          transform: translate(0, 40px);
  opacity: 0;
  -webkit-transition: .4s;
  transition: .4s;
  -webkit-transition-delay: .4s;
          transition-delay: .4s;
}

.p-contact-item:nth-of-type(1) {
  -webkit-transition-delay: .8s;
          transition-delay: .8s;
}

.p-contact-item:nth-of-type(2) {
  -webkit-transition-delay: 1.2s;
          transition-delay: 1.2s;
}

.p-contact-item.is-active {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

.p-contact-item:last-of-type {
  margin-bottom: 45px;
}

.p-contact-item__text {
  letter-spacing: .1em;
  line-height: 1.6;
  margin-top: 16px;
  margin-bottom: 23px;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.p-contact-item__tel {
  font-family: "Lato";
  font-size: 38.4px;
  font-size: 2.4rem;
  font-weight: 500;
  letter-spacing: .1em;
  line-height: 1;
  margin-bottom: 24px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.p-contact-item__description {
  letter-spacing: .1em;
  line-height: 1.6;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.p-contact-item__button {
  letter-spacing: .1em;
  line-height: 1;
  padding: 20px 30px;
  border: 1px solid #dddddd;
}

.p-contact-heading {
  margin-bottom: 60px;
  text-align: center;
  -webkit-transform: translate(0, 40px);
          transform: translate(0, 40px);
  opacity: 0;
  -webkit-transition: .4s;
  transition: .4s;
  -webkit-transition-delay: .4s;
          transition-delay: .4s;
}

.p-contact-heading.is-active {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

.p-contact-heading__main {
  font-family: "Noto Serif JP";
  font-size: 44.8px;
  font-size: 2.8rem;
  font-weight: 300;
  letter-spacing: .1em;
  line-height: 1;
  margin-bottom: 37px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.p-contact-heading__sub {
  letter-spacing: .01em;
  line-height: 1;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.p-contact-foot {
  text-align: center;
  letter-spacing: .1em;
  line-height: 1.6;
  -webkit-transform: translate(0, 40px);
          transform: translate(0, 40px);
  opacity: 0;
  -webkit-transition: .4s;
  transition: .4s;
  -webkit-transition-delay: 1.6s;
          transition-delay: 1.6s;
}

.p-contact-foot.is-active {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

.p-contact-foot__text {
  margin-bottom: 38px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.p-footer-left {
  margin-bottom: 45px;
}

.p-footer-left__logo {
  margin-bottom: 16px;
}

.p-footer-left__address, .p-footer-left__tel {
  margin-bottom: 8px;
  letter-spacing: .1em;
  line-height: 1;
  font-size: 22.4px;
  font-size: 1.4rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.p-footer-left__tel {
  letter-spacing: 0;
  margin-bottom: 38px;
}

.p-footer-left__button {
  display: inline-block;
  border: 1px solid #666666;
  letter-spacing: .1em;
  line-height: 1;
  padding: 16px 45px;
}

.p-footer-left__button:hover {
  color: #666666;
  background-color: #dddddd;
  border: 1px solid #dddddd;
}

.p-footer-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 22.4px;
  font-size: 1.4rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.p-footer-nav__left {
  margin-right: 56px;
}

.p-footer-nav__center {
  margin-right: 56px;
}

.p-footer-nav__menus {
  margin-bottom: 28px;
}

.p-footer-nav__heading {
  margin-bottom: 18px;
  letter-spacing: .1em;
  line-height: 1;
}

.p-footer-nav__item {
  margin-bottom: 8px;
  letter-spacing: .1em;
  line-height: 1;
}

/* comppnent
_________________________________________________________________________________________________*/
.c-header-logo {
  width: 200px;
  height: 20px;
  display: block;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background: url("../images/common/header-logo.svg") center no-repeat;
  background-size: cover;
}

.c-header-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 140px;
  height: 50px;
  border: 1px solid #555555;
  color: #dddddd;
  font-size: 22.4px;
  font-size: 1.4rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.c-header-button:hover {
  color: #000000;
  background-color: #dddddd;
}

.c-header-tel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #dddddd;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.c-header-tel__bk {
  color: #555555;
}

.c-header-tel .c-header-tel__number {
  font-size: 51.2px;
  font-size: 3.2rem;
  font-family: "Lato";
  font-weight: 700;
  line-height: 1;
}

.c-header-tel .c-header-tel__text {
  font-size: 20.8px;
  font-size: 1.3rem;
  line-height: 1.5;
}

.c-main-heading {
  font-family: "Noto Serif JP";
  font-size: 38.4px;
  font-size: 2.4rem;
  font-weight: 500;
  letter-spacing: .14em;
  line-height: 1.64;
}

.c-main-slider-item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.c-main-slider-item__img {
  width: 100%;
  height: calc(100vh - 200px);
}

.c-main-slider-item__text {
  position: absolute;
  bottom: 25%;
  right: auto;
  left: 30px;
  padding: 14px 32px;
  border: 1px solid #dddddd;
  letter-spacing: .1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

.c-information {
  width: 100%;
  padding: 16px;
  border: 1px solid #555555;
}

.c-information__heading {
  font-family: "Noto Serif JP";
  font-size: 38.4px;
  font-size: 2.4rem;
  letter-spacing: .1em;
  line-height: 1;
  padding-right: 24px;
  margin-bottom: 24px;
  white-space: nowrap;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.c-information__item {
  margin-bottom: 10px;
}

.c-information__item:last-child {
  margin-bottom: 0;
}

.c-information__item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.c-information__date {
  position: relative;
  padding-right: 27px;
}

.c-information__date::after {
  content: "";
  width: 3px;
  height: 16px;
  background-color: #555555;
  position: absolute;
  top: 7px;
  right: 0;
}

.c-information__title {
  padding-left: 20px;
  letter-spacing: .1em;
  line-height: 1.6;
  font-weight: 400;
}

.c-heading {
  font-family: "Noto Serif JP";
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.c-heading__main {
  position: relative;
  font-size: 38.4px;
  font-size: 2.4rem;
  font-weight: 300;
  letter-spacing: 0.1em;
  line-height: 1;
  padding-left: 35px;
}

.c-heading__main::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: url("../images/common/heading-mark.svg") no-repeat center;
  background-size: contain;
  width: 25px;
  height: 30px;
  display: inline-block;
}

.c-heading__sub {
  font-size: 32px;
  font-size: 2rem;
  letter-spacing: 0.1em;
  padding-left: 35px;
}

.c-content-link {
  letter-spacing: .1em;
  line-height: 1;
  position: relative;
}

.c-content-link::after {
  content: "";
  display: inline-block;
  background: url("../images/common/link-shape.svg") no-repeat center;
  background-size: contain;
  width: 7px;
  height: 14px;
  position: absolute;
  top: 0;
  right: -24px;
}

.c-voice-item {
  background-color: rgba(0, 0, 0, .8);
  padding: 30px 15px;
}

.c-voice-item__title {
  font-size: 32px;
  font-size: 2rem;
  line-height: 1;
  letter-spacing: .1em;
  margin-bottom: 25px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.c-voice-item__category {
  line-height: 1;
  letter-spacing: .1em;
  margin-bottom: 14px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.c-voice-item__text {
  margin-bottom: 20px;
  letter-spacing: .1em;
  line-height: 1.3;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.c-more-button {
  display: block;
  color: #dddddd;
  font-family: "Noto Sans JP";
  padding: 32px 108px;
  border: 2px solid #555555;
  letter-spacing: .1em;
  line-height: 1;
}

.c-more-button:hover {
  background-color: #dddddd;
  color: #555555;
  border: 2px solid #dddddd;
}

.c-collection-slider-item__groupe {
  width: 80%;
  height: auto;
  margin: 0 auto;
}

.c-collection-slider-item__img {
  margin-bottom: 50px;
}

.c-collection-slider-item__name {
  font-size: 28.8px;
  font-size: 1.8rem;
  line-height: 1;
  letter-spacing: 0.1em;
  margin-bottom: 21px;
}

.c-collection-slider-item__category {
  line-height: 1;
  letter-spacing: 0.1em;
  display: inline-block;
  background-color: #272d30;
  padding: 9px 16px;
}

.c-service-item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #555555;
  padding: 35px 15px 45px;
  margin-bottom: 45px;
  -webkit-transform: translate(0, 40px);
          transform: translate(0, 40px);
  opacity: 0;
  -webkit-transition: .4s;
  transition: .4s;
}

.c-service-item:nth-of-type(1) {
  -webkit-transition-delay: .8s;
          transition-delay: .8s;
}

.c-service-item:nth-of-type(2) {
  -webkit-transition-delay: 1.2s;
          transition-delay: 1.2s;
}

.c-service-item:nth-of-type(3) {
  -webkit-transition-delay: 1.6s;
          transition-delay: 1.6s;
}

.c-service-item.is-active {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

.c-service-item:last-of-type {
  margin-bottom: 15px;
}

.c-service-item__icon {
  display: block;
  height: 65px;
  margin-bottom: 40px;
}

.c-service-item__title {
  letter-spacing: .1em;
  line-height: 1;
  margin-bottom: 24px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.c-service-item__text {
  letter-spacing: .1em;
  line-height: 1.6;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.hamburger {
  padding: 0;
}

.hamburger .hamburger-inner {
  background-color: #dddddd;
}

.hamburger .hamburger-inner::before, .hamburger .hamburger-inner::after {
  background-color: #dddddd;
}

.hamburger.is-active .hamburger-inner {
  background-color: #dddddd;
}

.hamburger.is-active .hamburger-inner::before, .hamburger.is-active .hamburger-inner::after {
  background-color: #dddddd;
}

.c-contact-button {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #dddddd;
  font-family: "Noto Sans JP";
  padding: 32px 50px;
  border: 1px solid #dddddd;
  letter-spacing: .1em;
  line-height: 1;
}

.c-contact-button:hover {
  color: #000000;
  background-color: #dddddd;
}

/* utility
_________________________________________________________________________________________________*/
.l-main-visual .slick-dots {
  position: absolute;
  bottom: 15%;
}

.l-main-visual .slick-dots li {
  width: 10px;
  height: 10px;
  margin-right: 5px;
}

.l-main-visual .slick-dots li:last-child {
  margin-right: 0;
}

.l-main-visual .slick-dots li.slick-active button {
  background: #dddddd;
}

.l-main-visual .slick-dots li button {
  background: #31393c;
  width: 10px;
  height: 10px;
}

.l-main-visual .slick-dots li button::before {
  content: "";
  color: transparent;
}

.l-collection .slick-dots {
  bottom: -55px;
}

.l-collection .slick-dots li {
  width: 10px;
  height: 10px;
  margin-right: 5px;
}

.l-collection .slick-dots li:last-child {
  margin-right: 0;
}

.l-collection .slick-dots li.slick-active button {
  background: #dddddd;
}

.l-collection .slick-dots li button {
  background: #31393c;
  width: 10px;
  height: 10px;
}

.l-collection .slick-dots li button::before {
  content: "";
  color: transparent;
}

.l-collection .slick-arrow {
  width: 30px;
  height: 80px;
  z-index: 10;
}

.l-collection .slick-arrow::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.l-collection .slick-next {
  top: 40%;
  right: 5%;
}

.l-collection .slick-next::before {
  background: url("../images/common/icon-slick-next.svg") no-repeat center;
  background-size: contain;
}

.l-collection .slick-prev {
  top: 40%;
  left: 5%;
}

.l-collection .slick-prev::before {
  background: url("../images/common/icon-slick-prev.svg") no-repeat center;
  background-size: contain;
}

.u-mb__m {
  margin-bottom: 24px;
}

.u-mb__l {
  margin-bottom: 28px;
}

.u-sp__none {
  display: none;
}

.u-tb__none {
  display: inline;
}

.u-pc__none {
  display: inline;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

@media (min-width: 768px) {
  body {
    font-size: 1.6rem;
  }
  .container {
    padding: 0 20px;
  }
  .l-main-visual {
    background-size: auto;
  }
  .l-service__container {
    padding: 0 15px;
  }
  .l-service__bg {
    background: url("../images/common/bg-shape05.svg") no-repeat;
    background-position: 0 calc(50% + 15px);
  }
  .l-service__menus {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0;
  }
  .l-contact {
    padding-right: 0;
    padding-left: 0;
  }
  .l-contact__container {
    padding: 0 15px;
  }
  .l-contact__menus {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .l-contact__menus {
    border-left: 1px solid #555555;
    border-right: 1px solid #555555;
    margin-bottom: 62px;
  }
  .l-global-nav {
    top: 100px;
    padding: 45px 30px;
  }
  .l-global-nav__item {
    font-size: 2.4rem;
    padding: 15px 0;
  }
  .l-global-nav__mr {
    margin-right: 24px;
  }
  .p-about-content__lead {
    font-size: 2.4rem;
    letter-spacing: .1em;
  }
  .p-voice-contents__first {
    margin-top: 50px;
    background: url("../images/common/bg-shape03.svg") no-repeat right bottom -15%;
    background-size: 50%;
  }
  .p-voice-contents__item {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .p-contact-item:last-of-type {
    margin-bottom: 0;
  }
  .p-contact-item {
    width: 50%;
    border-bottom: none;
  }
  .p-contact-item:first-child {
    border-bottom: none;
    border-right: 1px solid #dddddd;
  }
  .p-contact-item__tel {
    font-size: 3.2rem;
  }
  .p-contact-item__button {
    padding: 30px 80px;
  }
  .p-contact-heading__sub {
    letter-spacing: .1em;
  }
  .p-contact-foot {
    line-height: 1;
  }
  .p-footer-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .c-header-logo {
    width: 260px;
    height: 26px;
  }
  .c-header-button {
    width: 160px;
    height: 50px;
  }
  .c-main-heading {
    font-size: 2.8rem;
    letter-spacing: .1em;
  }
  .c-heading__main {
    padding-left: 56px;
    font-size: 3.2rem;
  }
  .c-heading__main::before {
    width: 30px;
    height: 35px;
  }
  .c-heading__sub {
    font-size: 2.4rem;
    padding-left: 56px;
  }
  .c-voice-item {
    padding: 30px;
  }
  .c-voice-item__title {
    font-size: 2.4rem;
  }
  .c-voice-item__text {
    line-height: 1.6;
  }
  .c-service-item {
    width: 31%;
    padding: 65px 30px 75px;
    margin-bottom: 0;
  }
  .c-service-item:last-of-type {
    margin-bottom: 0px;
  }
  .c-contact-button {
    width: auto;
    padding: 30px 80px;
  }
  .l-main-visual .slick-dots {
    position: absolute;
    bottom: 14%;
    right: 0;
    width: 14%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .u-sp__none {
    display: inline;
  }
  .u-tb__none {
    display: none;
  }
}

@media (min-width: 1024px) {
  .l-header {
    position: static;
    height: 200px;
  }
  .l-header__inner {
    padding: 0 30px;
  }
  .l-header__nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .l-header__head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 20px;
    margin-top: 8px;
  }
  .l-header__head {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .l-header__tel {
    margin-bottom: 0;
  }
  .l-header__foot {
    display: block;
  }
  .l-header__hamburger {
    display: none;
  }
  .l-footer__container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .l-main {
    margin-top: 0;
  }
  .l-main-visual {
    background-position: right bottom 30%;
    background-size: auto;
  }
  .l-main-visual__copy {
    position: absolute;
    top: 0;
    right: 0;
    width: 25%;
    padding-top: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .l-main-visual__heading {
    position: absolute;
    top: 25px;
    left: auto;
    right: 6.5%;
  }
  .l-about {
    padding-top: 188px;
  }
  .l-about__container {
    padding: 0 15px;
  }
  .l-about__heading {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 30px;
  }
  .l-about__upper {
    background: url("../images/common/bg-shape02.svg") no-repeat left bottom -5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .l-voice {
    padding-top: 206px;
    padding-bottom: 115px;
  }
  .l-voice__heading {
    display: block;
    width: auto;
    position: absolute;
    top: -5px;
    right: -5px;
    margin-right: 30px;
  }
  .l-voice__contents {
    padding-top: 0;
  }
  .l-collection {
    padding-top: 205px;
    padding-bottom: 110px;
  }
  .l-collection__heading {
    display: inline-block;
    width: auto;
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 30px;
    background-color: #000000;
    opacity: .9;
    padding: 0 4px 4px;
  }
  .l-collection__bg {
    background: url("../images/common/bg-shape03.svg") no-repeat left 15% bottom 15%;
    background-size: auto;
  }
  .l-service {
    padding-top: 155px;
  }
  .l-global-nav {
    display: none;
  }
  .p-about-content {
    padding-top: 50px;
    width: 50%;
  }
  .p-about-content__lead {
    font-size: 2.8rem;
  }
  .p-about-content__text {
    width: 75%;
  }
  .p-about-content__img {
    padding: 0;
    padding-top: 55px;
    width: 30%;
    -webkit-transition-delay: 1.2s;
            transition-delay: 1.2s;
  }
  .p-about-content__img img {
    height: 600px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: 100% 0;
       object-position: 100% 0;
    font-family: 'object-fit: cover; object-position: 100% 0;';
  }
  .p-about-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .p-about-img__left {
    width: 62.5%;
    padding: 0;
    -webkit-transition-delay: .4s;
            transition-delay: .4s;
  }
  .p-about-img__right {
    width: 37.5%;
    padding: 0;
    -webkit-transition-delay: .8s;
            transition-delay: .8s;
  }
  .p-voice-contents {
    position: relative;
  }
  .p-voice-contents__bg {
    margin-bottom: 0;
    padding-bottom: 110px;
  }
  .p-voice-contents__first {
    padding-bottom: 110px;
    background-size: auto;
  }
  .p-voice-contents__left {
    padding-top: 37.5%;
    background-size: contain;
  }
  .p-voice-contents__right {
    padding-top: 37.5%;
    background-size: contain;
  }
  .p-voice-contents__item {
    margin-top: -55px;
  }
  .p-service-heading__main {
    font-size: 2.8rem;
  }
  .p-service-heading__sub {
    letter-spacing: .1em;
    padding: 0;
    text-align: center;
  }
  .p-contact-item__text {
    line-height: 1;
    text-align: left;
  }
  .p-contact-item__description {
    line-height: 1;
  }
  .p-footer-left {
    margin-bottom: 0;
  }
  .p-footer-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .c-main-heading {
    -webkit-writing-mode: vertical-rl;
        -ms-writing-mode: tb-rl;
            writing-mode: vertical-rl;
  }
  .c-main-slider-item__img {
    width: 75%;
    height: auto;
  }
  .c-main-slider-item__text {
    bottom: 20%;
    right: 0;
    left: auto;
    width: 21.7%;
    height: 12%;
  }
  .c-information {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 75px 77px 66px 94px;
  }
  .c-information__heading {
    text-align: left;
    padding-right: 90px;
  }
  .c-information__title {
    line-height: 2;
  }
  .c-heading {
    -webkit-writing-mode: vertical-rl;
        -ms-writing-mode: tb-rl;
            writing-mode: vertical-rl;
  }
  .c-heading__main {
    padding-left: 0;
    padding-top: 56px;
    line-height: 1.6;
  }
  .c-heading__main::before {
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .c-heading__sub {
    padding-left: 0;
    padding-top: 56px;
  }
  .c-collection-slider-item__groupe {
    width: 85%;
  }
  .c-collection-slider-item__name {
    font-size: 2rem;
  }
  .c-service-item {
    padding: 65px 55px 75px;
  }
  .l-main-visual .slick-dots {
    bottom: 15%;
  }
  .l-collection .slick-arrow {
    width: 60px;
    height: 160px;
  }
  .l-collection .slick-next {
    top: 40%;
    right: 25%;
  }
  .l-collection .slick-prev {
    top: 40%;
    left: 25%;
  }
  .u-mt {
    margin-top: -50px;
  }
  .u-pc__none {
    display: none;
  }
}

@media (min-width: 1400px) {
  .l-header__inner {
    padding: 0 100px;
  }
  .l-footer__container {
    padding-left: 0px;
    padding-right: 0px;
  }
  .l-main-visual__copy {
    position: static;
    display: block;
    padding-top: 0;
  }
  .l-information__block {
    margin-top: -110px;
  }
  .l-about__heading {
    margin-left: 0;
  }
  .l-voice__heading {
    margin-right: 0;
  }
  .l-collection__heading {
    margin-left: 0;
  }
  .l-service__container {
    padding: 0px;
  }
  .p-about-content {
    width: 43.5%;
  }
  .c-main-slider-item__text {
    bottom: 25.5%;
    right: 0;
  }
  .c-voice-item {
    padding: 71px 100px 72px 87px;
    width: 42.5%;
  }
  .l-main-visual .slick-dots {
    bottom: 20%;
  }
}

/*# sourceMappingURL=maps/common.css.map */
